name: Test Docker image

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: |
          docker run -i $(docker build -q 10) /bin/sh -c "node --version && git --version"
          docker run -i $(docker build -q 12) /bin/sh -c "node --version && git --version"
