name: Test Docker image

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Build the Docker image
        run: |
          docker run -i $(docker build -q 12) /bin/sh -c "node --version && npm --version && git --version"
          docker run -i $(docker build -q 14) /bin/sh -c "node --version && npm --version && git --version"
          docker run -i $(docker build -q 16) /bin/sh -c "node --version && npm --version && git --version"
